In [ ]:
import pandas as pd
# import io

# from google.colab import files
# uploaded = files.upload()

In [ ]:
data = pd.read_csv('eoutlookTS.csv')

In [ ]:
data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', 'Base Year', 'Unnamed: 16'],
      dtype='object')

In [ ]:
data = data[['2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021']]
data.head()

,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0.200799,14.905583,13.226791,9.002666,2.787334,5.241875,5.730075,5.502134,6.074727
1,5.390545,5.330872,7.044583,0.825551,1.330361,3.921043,4.328353,4.447906,4.849560
2,1.578705,-5.279759,0.806382,-3.181700,3.474188,3.536731,3.644354,3.979334,3.840477
3,19.266017,14.087290,20.779727,11.365084,8.207265,12.039589,13.399777,13.050892,13.015151
4,-15.212637,-4.946150,-0.084670,8.053188,5.409294,-1.913507,-0.225860,-4.796220,0.861616

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2013    368 non-null    float64
 1   2014    368 non-null    float64
 2   2015    368 non-null    float64
 3   2016    368 non-null    float64
 4   2017    368 non-null    float64
 5   2018    368 non-null    float64
 6   2019    368 non-null    float64
 7   2020    368 non-null    float64
 8   2021    368 non-null    float64
dtypes: float64(9)
memory usage: 26.0 KB

In [ ]:
import csv
import random
import math
import numpy as np

In [ ]:
# Compute cosine similarity between two vectors
def cosine_similarity(v1, v2):
    dot_product = np.dot(v1, v2)
    mag_v1 = math.sqrt(sum([v1[i]**2 for i in range(len(v1))]))
    mag_v2 = math.sqrt(sum([v2[i]**2 for i in range(len(v2))]))
    return dot_product / (mag_v1 * mag_v2)

# Compute centroid of a cluster
def compute_centroid(cluster):
    # print(cluster)
    centroid = [0] * len(cluster[0])
    for i in range(len(centroid)):
        centroid[i] = sum([cluster[j][i] for j in range(len(cluster))]) / len(cluster)
    return centroid

# Initialize clusters randomly
def init_clusters(dataset, k):
    n = len(dataset)
    idx = random.sample(range(n), k)
    clusters = [[dataset[i]] for i in idx]
    for i in range(n):
        if i not in idx:
            closest_cluster = 0
            max_similarity = -1
            for j in range(k):
                similarity = cosine_similarity(dataset[i], clusters[j][0])
                if similarity > max_similarity:
                    max_similarity = similarity
                    closest_cluster = j
            clusters[closest_cluster].append(dataset[i])
    return clusters

# Perform K-means clustering
def kmeans(dataset, k, max_iters=20):
    # Initialize clusters randomly
    clusters = init_clusters(dataset, k)
    # Initialize centroids
    centroids = [compute_centroid(cluster) for cluster in clusters]
    # Assign each point to its closest centroid
    for i in range(max_iters):
        new_clusters = [[] for _ in range(k)]
        for point in dataset:
            closest_centroid = 0
            max_similarity = -1
            for j in range(k):
                similarity = cosine_similarity(point, centroids[j])
                if similarity > max_similarity:
                    max_similarity = similarity
                    closest_centroid = j
            new_clusters[closest_centroid].append(point)
        # Update centroids
        for j in range(k):
            centroids[j] = compute_centroid(new_clusters[j])
        # # Check for convergence
        # if clusters == new_clusters:
        #     break
        # clusters = new_clusters
    return clusters

In [ ]:
clusters = kmeans(np.array(data), 3)

C:\Users\DELL\AppData\Local\Temp\ipykernel_11004\1803121407.py:6: RuntimeWarning: invalid value encountered in double_scalars
  return dot_product / (mag_v1 * mag_v2)